
@import "src/less/bootstrap.less";
@import "colorsfonts.less";
@import "src/fonts/fontawesome/less/font-awesome.less";

@icon-font-path: "/src/fonts/";
@navbar-height: 50px;


@font-size-base: 10pt;

#how{
	background-color: lighten(@how-bg, 0%);
	color: #fff;
}

#contact{
	background-color: lighten(@contact-bg, 0%);

}

.jumbotron{
	border-radius:0px;

}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

