/***
http://www.colourlovers.com/palette/3329713/Soft_Blues
http://www.colourlovers.com/palette/148712/Gamebookers 
**/

@import "src/less/bootstrap.less";

@icon-font-path: "/src/fonts/";
@navbar-height: 75px;

@bg-color: #092950;
@navbar-default-link-active-bg: #AFCEEB;
@navbar-default-link-active-color: #365B88;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-link-hover-bg: #092950;
@how-bg: #AFCEEB;
@contact-bg: #092950;

@font-size-base: 10pt;

#how{
	background-color: lighten(@how-bg, 0%);

}

#contact{
	background-color: lighten(@contact-bg, 0%);

}

.jumbotron{
	border-radius:0px;

}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

