/***
http://www.colourlovers.com/palette/3329713/Soft_Blues
http://www.colourlovers.com/palette/148712/Gamebookers 
**/

@import "src/less/bootstrap.less";

@navbar-default-bg: #365B88;
@navbar-default-link-active-bg: #AFCEEB;
@navbar-default-brand-color: #FFFFFF;
@navbar-default-link-color: #BCBCBC;
@navbar-default-link-active-color: #365B88;
@navbar-default-link-hover-color: #E9E9E9;